{% extends 'base.html' %}
{% block content %}
    {% load static %}
    {% include "aside.html" %}

    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        {% include 'navbar.html' %}
        <div class="container card col-8 ">
            <!-- Button trigger modal -->

            <form method="post">
                {% csrf_token %}
                <div class="input-group input-group-static mt-3 bg-gradient-info p-3 rounded">
                    <label class="text-white">Mavzu</label>
                    <input type="text" class="form-control" name="theme" maxlength="250" required="" id="id_theme">
                </div>


                <div class="card-body text-xxl-start">

                    <div class="input-group input-group-static  bg-gradient-dark  text-white rounded p-4 ">
                        <label class="text-white">Murojaatni to'ldiring</label>
                        <textarea type="text" class="form-control text-white" name="text" maxlength="1000" required="" id="id_text"></textarea>
                    </div>

                </div>
                <input type="text" name="user" value="{{ request.user.pk }}" style="display:none;">
                <hr class="dark horizontal my-0">
                <div class="card-footer d-flex ">
                    <button class="btn btn-success my-auto mx-xl-auto px-lg-12" type="submit">Murojaatni qoldirish</button>

                </div>
        </div>
        </form>
    </main>

    {% include 'settings.html' %}

{% endblock content %}