{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <script src="{% static '/js/html5-qrcode.min.js' %}"></script>

    <body class="g-sidenav-show  bg-gray-200">
    {% include "aside.html" %}

    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        {% include 'navbar.html' %}

        <div class="card col-6 mx-xl-auto my-xl-6" data-animation="true">

            <h5 class="badge-pill badge-lgbadge bg-gradient-danger text-white rounded p-3 font-weight-normal">
                {{ appeal.theme }}
            </h5>

            <div class="card-body text-xxl-start">


                <span class="badge bg-gradient-danger  m-2" style="float:right;">Holati :
                    {% if appeal.status and appeal.status%}Bajarilgan{% endif %}
                    {% if appeal.status == False %}Bajarilmagan {% endif %}
                    {% if appeal.status == None %} Rad etilgan{% endif %}</span>
                <p class="badge-pill badge-lgbadge bg-gradient-dark  text-white rounded p-4 ">
                    {{ appeal.text }}
                </p>

            {% if appeal.status == None %}<p>Rad etilgan sababi:</p> <p class="badge bg-gradient-primary m-2">{{ appeal.description }} </p>{% endif %}
            </div>
            <div class="flex ms-auto">

                {% if appeal.status != None and not appeal.status and 1 != request.user.groups.all.0.id%}
                    <a href="{% url 'appeals_change_done' pk=appeal.pk %}"
                       class="btn btn-link bg-gradient-success text-white  ms-auto mx-4 border-0">Bajarildi
                        <i class="material-icons text-lg">done</i>
                    </a>

                    <button type="button" class="btn btn-link bg-gradient-primary text-white  ms-auto mx-4 border-0"
                            data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                        Rad etish <i class="material-icons text-lg">close</i>
                    </button>
                {% endif %}
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer d-flex ">


                <p class="font-weight-normal my-auto badge badge-pill badge-md bg-gradient-warning">{{ appeal.user }}</p>

                <p class="text-sm ms-auto badge badge-pill badge-md bg-gradient-warning"> {{ appeal.open_date }}</p>
            </div>
        </div>


    </main>

    {% include 'settings.html' %}
    <!--   Core JS Files   -->
    <script src="{% static 'assets/js/core/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>

    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="{% static 'assets/js/material-dashboard.min.js' %}"></script>
    </body>
    <!-- Modal -->
    <form method="post">
    {% csrf_token %}
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-normal" id="exampleModalLabel">Rad etish sababini kiriting</h5>
                    <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group input-group-outline my-3">
                        <label class="form-label">Sababni kiriting</label>
                        <input type="text" name="description" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Yopish</button>
                    <button type="submit" class="btn bg-gradient-primary">Saqlash</button>
                </div>
            </div>
        </div>
    </div>
    </form>
{% endblock content %}