{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <script src="{% static '/js/html5-qrcode.min.js' %}"></script>

    {% include "aside.html" %}

    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        {% include 'navbar.html' %}
        <div class="container-fluid py-4">

            <div class="row">
                <div class="col-12">
                    <div class="card my-4">
                        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                                <h6 class="text-white text-capitalize ps-3">Ombordagi tovarlar</h6>
                            </div>
                        </div>
                        <div class="card-body px-0 pb-2">
                            <div class="table-responsive p-0">
                                <table class="table align-items-center mb-0">
                                    <thead>
                                    <tr>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            T/R
                                        </th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Katalog
                                        </th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                            Model
                                        </th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Qr code
                                        </th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Omborga kelgan vaqti
                                        </th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for depot in depots %}
                                        <tr>
                                            <td class="align-middle text-center text-sm">
                                                <span class="badge badge-sm bg-gradient-faded-success">{{ forloop.counter }}</span>
                                            </td>
                                            <td class="align-middle text-center text-sm">
                                                <span class="badge badge-sm bg-gradient-faded-success">{{ depot.model.catalog }}</span>
                                            </td>
                                            <td class=" text-center text-sm">
                                                <span class="badge badge-sm bg-gradient-faded-info">{{ depot.model }}</span>
                                            </td>
                                            <td class="align-middle text-center text-sm">
                                                <span class="p-2 rounded text-white badge-sm bg-gradient-faded-dark">{{ depot.qr_code }}</span>
                                            </td>
                                            <td class="align-middle text-center">
                                                <span class="badge badge-sm bg-gradient-faded-info">{{ depot.came_date |date:"d M Y"}}</span>
                                            </td>

                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>


    <!--   Core JS Files   -->
    <script src="{% static 'assets/js/core/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>

    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>



    <script src="{% static 'assets/js/material-dashboard.min.js' %}"></script>

{% endblock content %}