<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 border-radius-xl shadow-none" id="navbarBlur" data-scroll="true">
<div class="container-fluid py-1 px-3">
<nav aria-label="breadcrumb">
<ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
<li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="">Ma'lumotlar ombori</a></li>
<li class="breadcrumb-item text-sm text-dark active" aria-current="page">{{ page_name }}</li>
</ol>
<h6 class="font-weight-bolder mb-0">{{ page_name }}</h6>
</nav>



</div>
</nav>