{% extends 'base.html' %}
{% block content %}
    <style>
        select option {
            background-color: rgba(76, 175, 80, 0.6);
        }
    </style>

    {% load static %}
    <script src="{% static '/js/html5-qrcode.min.js' %}"></script>

    {% include "aside.html" %}

    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        {% include 'navbar.html' %}
        <div class="container-fluid py-4">
            <div class="row justify-content-md-center my-3" id="numerator">
                <div class="col col-lg-3 p-3 bg-gradient-faded-success rounded text-white">
                    <span>Bazada <span class="badge bg-gradient-faded-white text-xxl-start"
                                       style="font-size: large">{{ cost_in }}</span></span>
                </div>
                <div class="col-md-auto col-lg-5">
                </div>
                <div class="col col-lg-3 p-3 bg-gradient-faded-info rounded text-white">
                    <span>Tadbirda <span class="badge bg-gradient-faded-white text-xxl-start"
                                         style="font-size: large">{{ cost_out }}</span></span>
                </div>
            </div>
            <div class="row justify-content-center" id="row">
                <div class="col-12 " id="col">
                    <div class="card my-4">
                        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3 ">
                                <div class="clearfix">

                                    <h6 class="text-white text-capitalize float-start mx-4">Ratsiya haqidagi
                                        ma'lumotlar</h6>
                                    <div class="custom-select">
                                        <select class="rounded-2 float-end mx-4 bg-gradient-faded-success text-white border-success p-1"
                                                id="tuman" onchange="myRegion()">
                                            {% for option in options %}
                                                <option>{{ option }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body px-0 pb-2 justify-content-center">
                            <div class="table-responsive p-0">
                                <table class="table align-items-center mb-0" id="region">
                                    <thead>
                                    <tr>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            T/R
                                        </th>

                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                            Model
                                        </th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Qr code
                                        </th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Tadbirda
                                        </th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for twoway in twoways %}
                                        <tr>
                                            <td class="align-middle text-center text-sm">
                                                <span class="badge badge-sm bg-gradient-faded-success">{{ forloop.counter }}</span>
                                            </td>

                                            <td class=" text-center text-sm">
                                                <span class="badge badge-sm bg-gradient-faded-info">{{ twoway.model }}</span>
                                            </td>
                                            <td class="align-middle text-center text-sm">
                                                <span class="p-2  btn-primary ml-2 mb-2 bg-gradient-faded-dark rounded-3">{{ twoway.sr_code }}</span>
                                            </td>

                                            <td class="align-middle text-center">
                                                <span class="badge badge-sm bg-gradient-faded-info">{% if twoway.warehouse %}
                                                    Omborda{% else %}
                                                    <a href="{% url 'lavent_twoway' %}?eviews={{ twoway.event.last.pk }}"> Tadbirda</a>{% endif %}</span>
                                            </td>
                                            <td style="display: none">{{ twoway.region }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>

    <script>
        function myRegion() {

            var filter, table, tr, td, i, txtValue, numerator, x, n = 0, cost_in = 0, cost_out = 0, boolrole;
            x = document.getElementById("tuman").value;
            numerator = document.getElementById("numerator")
            filter = x.toUpperCase();
            boolrole = "{{ boolrole }}".toUpperCase();
            table = document.getElementById('region');
            tr = table.getElementsByTagName("tr");
            th = table.getElementsByTagName("th");
            if (filter != boolrole) {
                numerator.style.display = "none";
                th[3].style.display = "none";
                document.getElementById("row").className = "row justify-content-center";
                document.getElementById("col").className = "col-6";
            } else {
                th[3].style.display = "";
                document.getElementById("row").className = "row";
                document.getElementById("col").className = "col-12";
            }
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[4];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        if (filter != boolrole) {
                            tr[i].getElementsByTagName("td")[3].style.display = "none";
                        }
                        n++;
                        tr[i].getElementsByTagName("td")[0].innerHTML = "<span class=\"badge badge-sm bg-gradient-faded-info\">" + n + "</span>";
                        tr[i].style.display = "";
                        if (tr[i].getElementsByTagName("td")[3].innerText == "TADBIRDA") cost_out += 1; else cost_in += 1;
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
            numerator.getElementsByTagName("span")[1].innerText = cost_in;
            numerator.getElementsByTagName("span")[3].innerText = cost_out;
            if (filter == boolrole) {
                numerator.style.display = "";

            }
        }

        myRegion()
    </script>

{% endblock content %}